extends archiveLayout

block archiveContent
  
  h1(class= "titletext") Welcome to the Weather Archive

  - var today = current[0]
  - results.sort(function(a,b){
  -   return a.time < b.time
  - })
  body
    -var time;
    if today.time.getHours() > 12
      -time = today.time.getHours() - 12;
      -time = time + ":" + today.time.getMinutes() + "P.M."
    else
      -var time = today.time.getHours() + ":" +today.time.getMinutes() + "A.M.";
    div(class= "navbar")
      p(class= "navTitle") Currently: #{today.time.getMonth() + 1}/#{today.time.getDate()}/#{today.time.getFullYear()} #{time} 
      table(class= "navTable")
        tr(class= "navRow")
          td(class= "navData") Temperature: #{today.temperature}&deg;F 
          td(class= "navData") Wind Speed: #{today.windSpeed}mph #{today.windDirection}
          -var press = Math.round((today.pressure/0.02953)*100)/100;
          td(class= "navData") Pressure: #{today.pressure}inHg #{press}Hpa
          td(class= "navData") Humidity: #{today.humidity}%
    p(class= "Description") A history of each day's average daily weather collected.
    p(class= "Description") Use ctrl+F to quick search a specific date in the format MM/DD/YYYY.
    a(href= '/') Home
    h2 Historical Data:

    table
      tr(class="archiveRow")
        th Date
        th Temperature
        th Wind Speed
        th Pressure
        th Humidity

      for data in results
        -press = Math.round((data.pressure/0.02953)*100)/100;
        tr(class="archiveRow")
          td #{data.time.getMonth() + 1}/#{data.time.getDate()}/#{data.time.getFullYear()}
          td #{data.temperature}&deg;F 
          td #{data.windSpeed}mph
          td #{data.pressure}inHg #{press}hPa
          td #{data.humidity}%
