extends layout

block content
  
  h1(class= "titletext") Welcome to the Baylor Weather App 
  p(Class= "Description") An hourly history of the weather data collected.
  a(href= '/archive' class=) The Archive
  // Get the most recent data and sort the array with most
  // recent data first
  - var today = current[0]
  - results.sort(function(a,b){
  -   return a.time < b.time
  - })
  body
    -var time;
    if today.time.getHours() > 12
      -time = today.time.getHours() - 12;
      -time = time + ":" + today.time.getMinutes() + "P.M."
    else
      -var time = today.time.getHours() + ":" +today.time.getMinutes() + "A.M.";
    div(class= "navbar")
      p(class= "navTitle") Currently: #{today.time.getMonth() + 1}/#{today.time.getDate()}/#{today.time.getFullYear()} #{time} 
      table(class= "navTable")
        tr(class= "navRow")
          td(class= "navData") Temperature: #{today.temperature}&deg;F 
          td(class= "navData") Wind Speed: #{today.windSpeed}mph
          -var press = Math.round((today.pressure/0.02953)*100)/100;
          td(class= "navData") Pressure: #{today.pressure}inHg #{press}hPa
          td(class= "navData") Humidity: #{today.humidity}%
    h2(class= "today") Today's Data:
    for data in results
      -press = Math.round((data.pressure/0.02953)*100)/100;
      if data.time.getHours() > 12
        -time = data.time.getHours() - 12;
        -time = time + ":" + data.time.getMinutes() + "0 P.M."
      else
        -var time = data.time.getHours() + ":" +data.time.getMinutes() + "0 A.M.";
      if data.temperature >= 65
        <div class="sunny">
          <div class="weathertext">
            h1(class= text) 
            p #{time}<br />#{data.temperature}&deg;F<br />#{data.windSpeed}mph<br />#{press}hPa
          </div>
        </div>

      else if data.temperature >= 32
        <div class="chilly">
          <div class="weathertext">
            h1(class= text) 
            p #{time}<br />#{data.temperature}&deg;F<br />#{data.windSpeed}mph<br />#{press}hPa
          </div>
        </div>


      else if data.temperature <= 32
        <div class="freezing">
          <div class="weathertext">
            h1(class= text) 
            p #{time}<br />#{data.temperature}&deg;F<br />#{data.windSpeed}mph<br />#{press}hPa
          </div>
        </div>

  
  
